TAS/ORDERS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OrderSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Orders" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Exchange" type="xs:string" />
              <xs:element name="ProductType" type="xs:string" />
              <xs:element name="ProductName" type="xs:string" />
              <xs:element name="Contract" type="xs:string" />
              <xs:element name="BuySell" type="xs:string" />
              <xs:element name="qty" type="xs:unsignedShort" />
              <xs:element name="price" type="xs:decimal" />
              <xs:element name="Account" type="xs:string" />
              <xs:element name="AccountType" type="xs:string" />
              <xs:element name="Usertag" type="xs:string" default="ttapi"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>